/*----------------------------------------------------------CitySearch----------------------------------------------------------*/

.city {
    width: 250px;
}

.suggestions {
    width: 250px;
    position: absolute;
    top: 45px;
    z-index: 2;
    align-self: center;
    margin: 0;
    font-size: 14px;
    box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: #fff;
}

.suggestions li {
    padding: 0.2rem;
}

.suggestion-button {
    text-align: center;
    font-size: 14px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.suggestion-button:hover {
    background-color: #bcdcdb;
}

.suggestions li:last-child {
    display: flex;
    justify-content: center;
}
.suggestions li:last-child button {
    border: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
